@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.login-card {
    background-color: whitesmoke;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px  1px  rgb(55, 53, 53);
    border-radius: 12px;
    overflow: hidden;
}

.login-card h1 {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #275388;
    padding: 10px;
}

.login-card .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-card .form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form .form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    /* display: flex; */
    align-items: center;
} 
.form-group input{
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    color: gray;
}

.form-group input[type='submit']{
    background: #275388;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    border-bottom: none;
    cursor: pointer;
}

#checkbox span {
    width: 70%;
    height: 40px;
   color: white;
}

.login-card .form-group select{
    width: 50%;
    border: none;
    color: gray;
    outline: none;
    background-color: whitesmoke;
    margin-left: 15px;
}


.form a{
    text-decoration: none;
    color: #275388;
    font-size: 17px;
    padding: 20px;
}

/* Registration styles */

.reg-header{
    width: 100%;
    background: #275388;
    display: flex;
    justify-content: center;
    height: 80px;
    position: fixed;
    z-index: 9999;
}

.reg-header nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reg-header nav ul li {
    display: flex;
    justify-content: center;
    color: white;
}

.reg-header nav ul li:hover {
   color: aqua;
   
}
.reg-header nav ul li:active {
    /* padding:10px 20px 10px 20px; */
    /* border-radius: 4px; */
    /* border: 2px; */
    /* border-color: gray; */
}

.reg-header nav ul li a{
    color: white;
    font-size: 17px;
}

.reg-header nav ul li a:hover {
    /* color: blue; */
    filter: drop-shadow(2px 4px 6px black);
    text-decoration: underline;
}

.reg-main {
    width: 100%;
}
.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.reg-main .container .reg-card {
    background-color: whitesmoke;
    width: 30%;
    display: flex;
    border-radius: 10px;
    border-color: #275388;
    box-shadow: 2px 2px 2px 2px #275388;
    justify-content: space-evenly;
    align-items: center;
}

.reg-main .container .reg-card .icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.icon::after {
    content: '';
    background: #275388;
    width: 4px;
    height: 100%;
    padding-left: 2px;
    margin-left: 60px;
    position: absolute;
}

.icon i{
    font-size: 40px;
    color: #275388;
}

.reg-card .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.desc h1 {
    font-size: 25px;
}

.desc span {
    font-size: 17px;
    font-weight: 700;
}

.student-main {
    padding-top: 100px;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;

}

.student-main a{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: #275388;
}

.student-main .student-form {
    background: whitesmoke;
    width: 73%;
    margin: auto;
    /* text-align: center; */
    padding: 30px;
    box-shadow: 1px 1px 1px 1px #275388;
    display: flex;
    flex-direction: column;
}

.student-form form input {
    color: #275388;
    font-weight: 700;
    border-color: #275388;
    margin: 0 10px;
}

.student-form .form-group select{
    width: 70%;
    color: gray;
    outline: none;
    background-color: transparent;
    border-top: 2px;
    border-left: 0;
    border-color: #275388;
    border-right: 0;
    margin-top: 20px;
}

.student-form form input::placeholder {
    color: gray;
    font-weight: 300;
    
}

.student-form input[type='submit'] {
    margin: 20px;
}

#btn:active {
    background-color: #275388;
    transform: scale(0.9);
}

.warning {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255,193,7);
}
.info {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(40,167,69);
}
.error {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(220,53,69);
}


.formStyle{
    background: red;
}

.here {
    filter: drop-shadow(2px 4px 6px black);
    text-decoration: underline;
}